body {
    background-color: #00d9ff;
    padding: 60px;
}

.calc-body{
    width: 390px;
    height: 694px;
    background-color: #151515;
    color: white;
    border-radius: 40px;
}

.seperator-line{
    width: 352px;
    height: 0.1px;
    margin: 172px auto auto auto;
    border: 1px solid #4E4D4D;
}

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-content: center;
}

.btn{
    width: 66px;
    height: 66px;
    margin-top: 25px;
    background: #343434;
    border-radius: 9px;
    font-size: 22px;
    color: white;
    text-align: center;
}

.btn:hover {
    background-color: #555555;
}

.action-btn{
    color: #66FF7F;
}

.back-btn{
    color: #FF5959;
}

.back-btn:hover{
    color: #FF5959;
}

.clear-btn{
    background-color: #FF5959;
}

.clear-btn:hover{
    background-color: #fb6b6b;
}

.eq-btn{
    background-color: #59ff74;
    color: #343434;
}

.eq-btn:hover{
    background-color: #7dff93;
    color: #343434;
}
